 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p style="text-align:left;">Work Experiences</p><p style="text-align:left;">-&nbsp;유진로봇 <2019.02 ~ 2021.11></br>&nbsp;&nbsp;&nbsp;&nbsp;Cloud Server Connection 개선(Spec 일치)</br>&nbsp;&nbsp;&nbsp;&nbsp;Robot Connection Flow 변경</br>&nbsp;&nbsp;&nbsp;&nbsp;로봇 status 정보 Animation 적용</br>&nbsp;&nbsp;&nbsp;&nbsp;Favorite/Block Area 연동</br>&nbsp;&nbsp;&nbsp;&nbsp;Push Notification</br>&nbsp;&nbsp;&nbsp;&nbsp;페어링 Flow 변경</br>&nbsp;&nbsp;&nbsp;&nbsp;Play Store 배포</br></p>
                </div>
                <div class="col-lg-4">
                    <p style="text-align:left;">-&nbsp;두산로보틱스 <2017.11 ~ 2018.10></br>&nbsp;&nbsp;&nbsp;&nbsp;로봇고장진단 App 선행개발</br>&nbsp;&nbsp;&nbsp;&nbsp;협동로봇 Application 개발</br>
                </div>
                <div class="col-lg-4">
                    <p style="text-align:left;">-&nbsp;Short Term Project <2017.01 ~ 2017.10></br>&nbsp;&nbsp;&nbsp;&nbsp;한국 마사회 불법 경마단속 모바일 버젼 개발</br>&nbsp;&nbsp;&nbsp;&nbsp;인테리어 앱(블라인드)</br>
                </div>
                <div class="col-lg-4">
                    <p style="text-align:left;">-&nbsp;LG전자 <2011.01 ~ 2016.09></br>&nbsp;&nbsp;&nbsp;&nbsp;ORD Manager System 구축</br>&nbsp;&nbsp;&nbsp;&nbsp;LG Theme 개발</br>&nbsp;&nbsp;&nbsp;&nbsp;LGHome Menu 개발</br>&nbsp;&nbsp;&nbsp;&nbsp;HomeSelector App 개발</br>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <p style="text-align:left;">Education</p><p style="text-align:left;">-&nbsp;동국대학교/정보통신공학부</br>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
